{
	"env": {
		"browser": true
	},
	"rules": {
		"semi": 2,
		"no-console": 2,
		"for-direction": 2,
		"getter-return": 2,
		"no-compare-neg-zero": 2,
		"no-cond-assign": 2,
		"no-constant-condition": 2,
		"no-control-regex": 2,
		"no-debugger": 2,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-empty": 2,
		"no-empty-character-class": 2,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 2,
		"no-extra-parens": 2,
		"no-extra-semi": 2,
		"no-func-assign": 2,
		"no-inner-declarations": 2,
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-obj-calls": 2,
		"no-regex-spaces": 2,
		"no-sparse-arrays": 2,
		"no-unexpected-multiline": 2,
		"no-unreachable": 2,
		"no-unsafe-finally": 2,
		"no-unsafe-negation": 2,
		"use-isnan": 2,
		"valid-typeof": 2,

		"curly": 1,
		"eqeqeq": 1,
		"no-alert": 2,
		"no-multi-spaces": 1,
		"no-self-assign": 1,
		"no-unused-labels": 1,
		"no-useless-escape": 1,
		"no-useless-return": 1,
		"vars-on-top": 1,
		"no-delete-var": 2,
		"no-undef": 2,
		"no-unused-vars": 2,
		"no-use-before-define": 1,
		"no-shadow": 1,

		"indent": 0,
		"no-mixed-spaces-and-tabs": 1
	},
	"globals": {
		"module": true,
		"jQuery": true,
		"$": true
	}
}
