@font-face {
    font-family: 'ui-font';
    font-weight: normal;
    font-style: normal;
    src: url('merriweather/MerriweatherSans-Light.ttf');
}
@font-face {
    font-family: 'ui-font';
    font-weight: bold;
    font-style: normal;
    src: url('merriweather/MerriweatherSans-Bold.ttf');
}
@font-face {
    font-family: 'ui-font';
    font-weight: normal;
    font-style: italic;
    src: url('merriweather/MerriweatherSans-Italic.ttf');
}
@font-face {
    font-family: 'ui-font';
    font-weight: bold;
    font-style: italic;
    src: url('merriweather/MerriweatherSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'ui-font-serif';
    font-weight: normal;
    font-style: normal;
    src: url('merriweather/Merriweather-Light.ttf');
}
@font-face {
    font-family: 'ui-font-serif';
    font-weight: bold;
    font-style: normal;
    src: url('merriweather/Merriweather-Bold.ttf');
}
@font-face {
    font-family: 'ui-font-serif';
    font-weight: normal;
    font-style: italic;
    src: url('merriweather/Merriweather-Italic.ttf');
}
@font-face {
    font-family: 'ui-font-serif';
    font-weight: bold;
    font-style: italic;
    src: url('merriweather/Merriweather-BoldItalic.ttf');
}

* {
    box-sizing: border-box;
}
html {
    height: 100%;
    min-height: 100%;
    font-family: 'ui-font', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    background: #F5F0E6;
}
body {
    height: 100%;
    min-height: 100%;
    background: #F5F5F5;
    color: #2A2A2A;
}
h1 {
    margin: 0;
    padding: .25em 0 0 0;
    font-weight: bold;
    font-size: 14px;
}
p {
    padding: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}
.screenreader-only {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -999px;
    left: -999px;
    overflow:hidden
}
.no-smooth {
    -webkit-font-smoothing: none;
}
.octicon {
    fill: currentColor;
}
.main-wrapper {
    width: 28em;
    height: 100%;
    max-height: 100%;
    float: left;
    position: relative;
    z-index: 2;
    border-right: 1px solid #4A4A4A;
    overflow: hidden;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
section {
    flex: 0;
    flex-shrink: 0;
}
section#filters,
section.config {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    font-size: 10px;
    background: #EEE;
}

section#filters {
    align-items: stretch;
    grid-template-columns: auto auto auto auto auto;
}
section#filters input,
section#filters select {
    width: 100%;
    margin: 0;
}
section#filters > div {
    display: flex;
}

section.config > * {
    text-align: center;
    padding: 0;
    white-space: nowrap;
}
section.select-list {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
section.select-list:focus {
    outline: none;
}
section.select-list > * {
    overflow: hidden;
}
section.select-list [data-style='serif'] .name {
    font-family: 'ui-font-serif', serif;
}
section.select-list .entry {
    display: flex;
    position: relative;
    padding: .5em 1em;
    border-top: 1px solid #EEE;
}
section.select-list .entry:last-child {
    border-bottom: 1px solid #EEE;
}
section.select-list .entry:hover {
    background: #FFF;
}
section.select-list .entry > a {
    display: block;
    flex: 1;
}
section.select-list .entry.filtered-out {
    display: none;
}
section.select-list a[data-value] {
    display: block;
    width: 66.67%;
    position: relative;
    overflow: hidden;
}
section.select-list a:hover .name,
section.select-list a:active .name {
    text-decoration: underline;
}
section.select-list .active .name {
    font-weight: bold;
}
section.select-list a.website {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    padding: 0 .5rem;
    font-size: 10px;
    color: #F5F5F5;
    transition: all .2s ease-in-out;
}
section.select-list a.website svg {
    position: relative;
    top: 2px;
}
section.select-list a.website span {
    display: inline-block;
    padding-right: 1ex;
}
section.select-list a.favoritelink {
    flex-grow: 0;
    margin-right: .25em;
    color: #F5F5F5;
    cursor: pointer;
}
section.select-list .entry:hover a.website,
section.select-list .entry:hover a.favoritelink {
    color: #CCC;
}
section.select-list .entry:hover a.favoritelink:hover,
section.select-list a.favoritelink:hover {
    color: #777;
}
section.select-list .entry .active a.website,
section.select-list .entry a.website:hover,
section.select-list .entry a.website:active {
    background: #E4E4E4;
    color: #777;
}
section.select-list a.website:active {
    margin-top: 1px;
}
section.select-list .pinned {
    background: #FAFAFA;
}
section.select-list .pinned a.favoritelink,
section.select-list .pinned.entry:hover a.favoritelink {
    color: #777;
}
section.select-list .details {
    display: block;
    width: 60%;
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #777;
}
footer {
    padding: 5px 10px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    background: #E4E4E4;
    color: #777;
}
footer h1 + p {
    font-style: italic;
}
footer a:hover,
footer a:active {
    text-decoration: underline;
    color: #2A2A2A;
}
footer p a,
footer p a:link,
footer p a:visited {
    text-decoration: underline;
}

label {
    margin-right: .5ex;
    color: #777;
}
button {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 18px;
    position: relative;
    margin: 0 .5ex 0 0;

    border: 1px solid #E4E4E4;
    border-bottom-color: #CCC;
    border-right-color: #CCC;
    border-radius: 4px;

    background: linear-gradient(#FFF, #E4E4E4);
    color: #777;
    cursor: pointer;
}
button:active {
    box-shadow: none;
}
button.selected {
    background: #FFF;
    border-color: #E4E4E4;
    color: #2A2A2A;
}
button path,
button rect {
    fill: currentColor;
}
button:not(.selected) > svg:not(:first-child),
button.selected > svg:not(.selected) {
    display: none;
}
select {
    all: unset;
    width: 9em;
    padding: 0 .5ex;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
select option {
    background: #FFF;
    color: #000;
}
input[type='text'] {
    line-height: 12px;
}
input[type='text'],
input[type='number'] {
    all: unset;
    width: 4em;
    margin-left: .5ex;
    padding: 0 .5ex;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    text-align: left;
    transition: all .2s ease-in-out;
}
input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus,
select:hover,
select:focus {
    border-color: #CCC;
    background: #F5F5F5;
}
pre,
textarea,
.CodeMirror {
    height: auto;
    font-family: 'Input Mono', monospace;
}
form {
    height: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.nav-button {
    all: unset;
    font-family: inherit;
    cursor: pointer;
}
label + .nav-button {
    margin-left: .5ex;
}
.CodeMirror {
    height: 100%;
    min-height: 100%;
    border: none;
    font-size: 100%;
    background: transparent;
    box-shadow: none !important;
    text-rendering: optimizeLegibility;
}
.CodeMirror .cm-atom {
    font-style: italic;
}
.CodeMirror .cm-comment {
    font-weight: bold;
}
.CodeMirror-gutters {
    background: transparent;
}
.CodeMirror-scroll {
    -webkit-overflow-scrolling: touch;
}

footer .logo {
    display: inline-block;
    margin-left: 1ex;
}
footer .logo svg path {
    fill: currentColor;
}

@media screen and (max-width: 56em) {
    .main-wrapper,
    form {
        width: 100%;
        height: 50vh;
        min-height: 50vh;
        float: none;
    }
}
@media screen and (max-width: 56em) and (max-height: 36em) {
    section.select-list a.website {
        top: 0;
    }
    section.select-list .entry {
        padding: 0 1em;
    }
    footer p:first-of-type,
    footer p:first-of-type + p {
        display: none;
    }
}
