@font-face {
    font-family: 'ui-font';
    font-weight: normal;
    font-style: normal;
    src: url('merriweather/MerriweatherSans-Light.ttf');
}
@font-face {
    font-family: 'ui-font';
    font-weight: bold;
    font-style: normal;
    src: url('merriweather/MerriweatherSans-Bold.ttf');
}
@font-face {
    font-family: 'ui-font';
    font-weight: normal;
    font-style: italic;
    src: url('merriweather/MerriweatherSans-Italic.ttf');
}
@font-face {
    font-family: 'ui-font';
    font-weight: bold;
    font-style: italic;
    src: url('merriweather/MerriweatherSans-BoldItalic.ttf');
}

@font-face {
    font-family: 'ui-font-serif';
    font-weight: normal;
    font-style: normal;
    src: url('merriweather/Merriweather-Light.ttf');
}
@font-face {
    font-family: 'ui-font-serif';
    font-weight: bold;
    font-style: normal;
    src: url('merriweather/Merriweather-Bold.ttf');
}
@font-face {
    font-family: 'ui-font-serif';
    font-weight: normal;
    font-style: italic;
    src: url('merriweather/Merriweather-Italic.ttf');
}
@font-face {
    font-family: 'ui-font-serif';
    font-weight: bold;
    font-style: italic;
    src: url('merriweather/Merriweather-BoldItalic.ttf');
}


* {
    box-sizing: border-box;
}

html {
    --bright-white: #FFF;
    --paper-white: #F5F5F5;

    --ink-black: #2A2A2A;
    --dark-grey: #4A4A4A;
    --medium-grey: #777;
    --light-grey: #E0E0E0;
    --bright-grey: #ECECEC;

    --accent: rgb(255 106 0);

    @media (prefers-color-scheme: dark) {
        --bright-white: #111;
        --paper-white: #1F1F1F;

        --ink-black: #CCC;
        --dark-grey: #DDD;
        --medium-grey: #808080;
        --light-grey: #333;
        --bright-grey: #2A2A2A;
    }

    height: 100%;
    min-height: 100%;
    font-family: 'ui-font', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    background: var(--bright-white);
}

body {
    display: flex;
    height: 100%;
    min-height: 100%;
    background: var(--bright-white);
    color: var(--ink-black);
}
h1 {
    margin: 0;
    padding: .25em 0 0 0;
    font-weight: bold;
    font-size: 16px;
}
h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
}
p {
    padding: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}
small {
    font-size: 11px;
}
[type='checkbox'] {
    margin-right: 1ex;
}

.screenreader-only {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -999px;
    left: -999px;
    overflow:hidden
}

.no-smooth {
    -webkit-font-smoothing: none;
}

.octicon {
    fill: currentColor;
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
    visibility: hidden;
    opacity: 0;
    svg {
        animation: spinning 2s linear infinite;
    }
    .fonts-loading &{
        opacity: 1;
        visibility: revert;
        transition: opacity .3s ease-in-out;
    }
}

.main-wrapper {
    width: 30em;
    height: 100%;
    max-height: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.codemirror-wrapper {
    container-name: second-pane;
    container-type: size;
    flex: 1;
    position: relative;
    margin: 6px 8px 6px 12px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);

    ~ .codemirror-wrapper {
        margin-left: 0;
    }

    &.clone {
        .CodeMirror {
            /* freeze the cloned codemirror instance because it's dead and scrolls weird */
            pointer-events: none;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
            * {
                overflow: hidden !important;
            }
        }
    }

    .fonts-loading &:not(.clone) .CodeMirror {
        filter: blur(2px);
    }
}

.info-wrapper {
    a:hover {
        color: var(--ink-black);
        text-decoration: underline;
    }
    p {
        line-height: 17px;
    }
    p:empty {
        display: none;
    }
    p.info + p {
        margin-top: 6px;
    }
    p:not(.info) {
        font-size: 11px;
    }

    h2 {
        display: inline-block;
        .license {
            display: inline-block;
            font-weight: normal;
            font-size: 11px;
            margin-left: 8px;
            color: var(--medium-grey);
        }
    }
}

dl {
    font-size: 11px;
    font-weight: normal;
    color: var(--dark-grey);
    margin-top: 8px;
    button {
        all: initial;
        font: inherit;
        color: inherit;
        cursor: pointer;
        &:hover,
        &:focus {
            color: var(--ink-black);
            text-decoration: underline;
        }
    }
}
dt, dd {
    display: inline;
}
dt {
    font-style: italic;
    text-transform: uppercase;
    &::after {
        content: ': ';
    }
    &:not(:first-child)::before {
        content: '\A';
        white-space: pre;
    }

    &.website + dd a {
        word-break: break-all;
    }
}

summary {
    cursor: pointer;
    list-style: none;
    + * {
        margin-top: 4px;
    }
    svg {
        position: relative;
        top: 2px;
        transition: transform .3s ease-in-out;
        transform: rotate(-90deg);
    }
    [open] & svg {
        transform: rotate(0);
    }
    .toggle {
        font-size: 11px;
        display: inline-flex;
        float: right;
    }
}

#compare-button,
#close-button {
    font-size: 11px;
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 2;

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
section {
    flex: 0;
    flex-shrink: 0;
}
section#filters,
section.config {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-row-gap: 4px;
    grid-template-columns: auto auto auto auto;
    padding: 8px;
    font-size: 11px;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    background: var(--bright-grey);
}

section#filters {
    align-items: stretch;
    margin: 6px 0 0 6px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    position: relative;
    z-index: 2;
}
section#filters input,
section#filters select {
    width: 100%;
    margin: 0;
}
section#filters > div {
    display: flex;
}

section.config {
    z-index: 1;
    position: absolute;
    bottom: 12px;
    right: 16px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);

    > * {
        padding: 0;
        white-space: nowrap;
    }

    @container second-pane (width >= 500px) {
        p:has(#spacing),
        p:has(#select-theme) {
            padding-right: 8px;
            margin-right: 4px;
            border-right: 1px solid var(--light-grey);
        }
    }

    @container second-pane (width < 500px) {
        p {
            text-align: right;
        }
        grid-template-columns: auto auto;
    }
}


section.select-list {
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: var(--bright-white);
    padding: 8px 2px 8px 8px;

    &:focus {
        outline: none;
    }
    [data-style='serif'] .name {
        font-family: 'ui-font-serif', serif;
    }
    .entry {
        position: relative;
        padding: 8px 12px;
        z-index: 0;
    }
    .entry:has(a:hover) {
        z-index: 1;
    }
    .entry:has(a:hover)::before {
        transition: background .2s ease-in-out, left .1s ease-in-out, right .1s ease-in-out;
    }
    .entry::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 6px;
        right: 6px;
        border-top: 1px solid var(--light-grey);
        pointer-events: none;
        z-index: -1;
    }
    .entry:has(a:hover)::before,
    .entry.active::before {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        bottom: -1px;
        right: 4px;
        left: 4px;
        border: 1px solid var(--light-grey);
        border-radius: 3px;
        pointer-events: none;
        z-index: -1;
        background: var(--paper-white);
    }
    .entry > a {
        display: block;
        flex: 1;
    }
    .entry.filtered-out {
        display: none;
    }
    .entry.group-child:not(.group-child-visible) {
        display: none;
    }
    .entry.group-child {
        padding-left: 24px;
    }
    button.group-toggle {
        position: absolute;
        bottom: 8px;
        right: 6px;
        width: auto;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        color: var(--medium-grey);
        font-size: 11px;
        svg {
            transition: transform .3s ease-in-out;
            transform: rotate(-90deg);
        }
    }
    .group-open button.group-toggle svg {
        transform: rotate(0deg);
    }
    .entry:hover button.group-toggle,
    .entry.active button.group-toggle {
        color: var(--dark-grey);
    }
    button.group-toggle:hover {
        color: var(--ink-black);
    }
    a[data-value] {
        display: block;
        width: 66.67%;
        position: relative;
        overflow: hidden;
    }
    .entry.active .name {
        font-weight: bold;
    }
    a.website {
        position: absolute;
        top: 6px;
        right: 32px;
        padding: 0 4px;
        font-size: 11px;
        color: var(--medium-grey);
        transition: all .2s ease-in-out;

        svg {
            position: relative;
            top: 2px;
        }
        span {
            display: inline-block;
            padding-right: 1ex;
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }
        &:hover span {
            opacity: 1;
        }
    }
    a.favoritelink {
        position: absolute;
        top: 6px;
        right: 12px;
        color: var(--medium-grey);
        cursor: pointer;
    }
    .entry:hover a.website,
    .entry:hover a.favoritelink {
        color: var(--dark-grey);
    }
    .entry:hover a.favoritelink:hover,
    a.favoritelink:hover {
        color: var(--accent);
    }
    .entry.active a.website,
    .entry.active a.favoritelink {
        color: var(--dark-grey);
    }
    .entry a.website:hover {
        color: var(--ink-black);
    }
    .entry.pinned a.favoritelink {
        color: var(--accent);
    }
    .entry.pinned:not(.active) .name {
        color: var(--dark-grey);
        font-weight: bold;
    }
    .details {
        display: block;
        font-size: 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: var(--dark-grey);
    }
}

footer {
    position: relative;
    margin: 0 0 6px 6px;
    padding: 12px 12px 4px 12px;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: var(--medium-grey);
    background: var(--bright-grey);
    box-shadow: 0 0 6px rgba(0,0,0,0.1);

    details {
        text-align: left;
        color: var(--ink-black);
    }

    h1 {
        color: var(--medium-grey);
        font-size: 14px;
        margin-top: 8px;
    }
    h1 + p {
        font-weight: normal;
        font-size: 11px;
    }
    a:hover,
    a:active {
        text-decoration: underline;
        color: var(--ink-black);
    }
    p a,
    p a:link,
    p a:visited {
        text-decoration: underline;
    }

    .logo,
    .support {
        display: inline-block;
        position: absolute;
        bottom: 4px;
        left: 12px;
    }
    .logo {
        a:hover {
            text-decoration: none;
        }
        svg path {
            fill: currentColor;
        }
    }
    .logo * + * {
        margin-left: 8px;
    }
    .support {
        right: 12px;
        left: auto;
        font-size: 11px;
    }
}

label {
    margin-right: .5ex;
    color: var(--medium-grey);
}
button {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 18px;
    position: relative;
    margin: 0 .5ex 0 0;

    border: 1px solid var(--light-grey);
    border-radius: 3px;
    background: linear-gradient(var(--bright-white), var(--light-grey));
    color: var(--dark-grey);
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
        background: linear-gradient(var(--light-grey), var(--bright-white));
    }

    path,
    rect {
        fill: currentColor;
    }

    &:hover {
        color: var(--ink-black);
    }
    &.selected {
        background: var(--bright-white);
        color: var(--ink-black);
        box-shadow: none;
    }
    &:not(.selected) > svg:not(:first-child),
    &.selected > svg:not(.selected) {
        display: none;
    }

    &:disabled {
        color: var(--paper-white);
        background: var(--light-grey);
    }

    &.text-button {
        width: auto;
        margin: 0;
        padding: 0 .5ex;
    }
}

select {
    all: unset;
    width: 9em;
    padding: 0 .5ex;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    background: var(--paper-white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    option {
        background: var(--light-white);
        color: var(--ink-black);
    }
}

input[type='text'] {
    line-height: 12px;
}
input[type='text'],
input[type='number'] {
    all: unset;
    width: 4em;
    margin-left: .5ex;
    padding: 0 .5ex;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    background: var(--paper-white);
    text-align: left;
    transition: all .2s ease-in-out;
}
input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus,
select:hover,
select:focus {
    border-color: var(--medium-grey);
    background: var(--paper-white);
}

pre,
textarea,
.CodeMirror {
    height: auto;
    font-family: monospace;
}
form {
    height: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.nav-button {
    all: unset;
    font-family: inherit;
    cursor: pointer;
}
label + .nav-button {
    margin-left: .5ex;
}

.CodeMirror {
    height: 100%;
    min-height: 100%;
    border: none;
    font-size: 100%;
    background: transparent;
    text-rendering: optimizeLegibility;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors#attrvalue_3 */
    &[data-font|="monaspace"] {
        font-feature-settings: 'calt', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08', 'ss09', 'liga';
    }

    .cm-comment {
        font-style: italic;
    }
}
.CodeMirror-gutters {
    background: transparent;
}
.CodeMirror-scroll {
    -webkit-overflow-scrolling: touch;
}

dialog {
    width: 40rem;
    max-width: calc(100% - 2rem);
    font-size: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 6px;
    background: var(--paper-white);
    color: var(--dark-grey);

    &::backdrop {
        background: var(--ink-black);
        opacity: .5;
        backdrop-filter: blur(10px);
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    * + p {
        margin-top: 1em;
    }

    small {
        line-height: 14px;
    }

    button {
        position: absolute;
        top: 6px;
        right: 4px;
        color: inherit;
        svg path {
            fill: currentColor;
        }
    }

    a,
    a:link,
    a:visited {
        text-decoration: underline;
        color: var(--accent);
    }
}
body:has(dialog[open]) {
    .main-wrapper,
    .codemirror-wrapper {
        filter: blur(2px);
        transition: filter .5s ease-in-out;
    }
}

@media screen and (max-width: 900px) {
    body {
        display: block;
    }
    section#filters,
    footer,
    .codemirror-wrapper {
        margin: 2px;
    }
    section.select-list {
        padding: 8px;
    }
    footer {
        padding: 8px 12px 4px 12px;
    }
    .main-wrapper {
        width: 100%;
        max-width: none;
        height: 60vh;
    }
    .codemirror-wrapper {
        container-type: revert;
    }
    section.config {
        position: fixed;
        inset: auto 12px 12px 12px;
        label {
            font-size: 9px;
        }
        input[type='text'], input[type='number'] {
            width: 3em;
        }
        select {
            width: 6em;
        }
    }
}
