html {
	height: 100%;
	min-height: 100%;
	background: #f5f0e6;
}
body {
	color: #fff;
	background: #222;
	font-family: "Input Mono", sans-serif;
	font-size: 12px;
	line-height: 1.6;
	height: 100%;
	min-height: 100%;
	font-weight: 300;
}
h1 {
	text-align: center;
	font-weight: 700;
	font-size: 1.618em;
	margin: 0;
	padding: .25em 0 0 0;
}
p {
	padding: 0 0 .5em 0;
}
article {
	float: left;
	margin: 1em;
	border-radius: 1ex;
	border: 1px solid rgba(0,0,0,.2);
	min-height: calc(100% - 3em);
	min-width: 33%;
	background: rgba(255,255,255,.05);
	display: flex;
	flex-direction: column;
}
section {
	flex: 1;
	padding: 0.5em 1em;
}
footer {
	flex: 0;
	padding: 0.5em 1em 1em 1em;
	text-align: center;
	font-size: .8em;
	border-top: 1px solid rgba(255,255,255,.05);
}
#font-info p {
	display: none;
	line-height: 1;
	padding: 0 0 2em 0;
}
a,
a:link,
a:visited {
	color: inherit;
}
a:hover,
a:active {
	opacity: 1;
}
label {
	margin-right: .5ex;
}
select {
	all: unset;
	width: 9em;
	padding: 0 .5ex;
	border: 1px solid rgba(100,100,100,.5);
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
select option {
	background: #fff;
	color: #000;
}
#size,
#spacing {
	all: unset;
	width: 4em;
	margin-left: .5ex;
	padding: 0 .5ex;
	border: 1px solid rgba(100,100,100,.5);
	border-radius: 3px;
	text-align: left;
}
pre,
textarea,
.CodeMirror {
	font-family: "Input Mono", monospace;
	height: auto;
}
form {
	height: 100%;
	min-height: 100%;
}
.nav-button {
	all: unset;
	font-family: inherit;
	cursor: pointer;
}
label + .nav-button {
	margin-left: .5ex;
}
label[for="select-font"],
label[for="select-language"],
label[for="select-theme"] {
	display: none;
}
.CodeMirror {
	border: none;
	font-size: 100%;
	background: transparent;
	box-shadow: none !important;
	height: 100%;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}
.CodeMirror.no-smooth {
	font-smooth: never;
	-webkit-font-smoothing: none;
}
.CodeMirror .cm-atom {
	font-style: italic;
}
.CodeMirror-gutters {
	background: transparent;
}
@media (max-width: 560px) {
	article,
	form,
	.CodeMirror {
		height: auto;
		min-height: 0;
	}
	article {
		float: none;
		text-align: left;
	}
	h1 + p,
	footer {
		display: none;
	}
}
